body {
	font-family: Times, serif;
	font-size: 12px;
	background-image: url("images/coolshit.jpg");
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}
body div {
	position: absolute;
	width: 300px;
	height: 150;
	border: 2px solid white;
	margin: 0px;
}
table{
	margin: 0px;
	height:100%;
	width:100%;
}
td{
	border:1px solid white;
}
#img_wrapper{
	height: 25%;
	width: 15%;
	top: 17%;
	left: 42.5%;
	border-radius: 50%;
}
#img_wrapper img{
	width:100%;
	height: 100%;
	border-radius: 50%;
}
#Left_bar{
	height: 50%;
	width: 10%;
	top: 15%;
	left: 6.25%;
	background-color: blue;
}
#table{
	height: 30%;
	width: 55%;
	top: 60%;
	left: 22.5%;
	background-color: green;
	padding: 0px;
}
#name{
	height: 13%;
	width: 25%;
	top: 45%;
	left: 37.5%;
	padding: 0px;
	border: none;
}
#name div{
	position: relative;
	height: 2.5%;
	width: 80%;
	background-color: white;
	left: 10%;
}
#name h4{
	position: relative;
	font-size: 4vmin;
	color: white;
	text-align: center;
	margin: 5% 0px 0px 0px;
	padding: 0px;
	left: auto;
	right: auto;
}
#name p{
	position: relative;
	font-size: 2.5vmin;
	color: white;
	text-align: center;
	margin: 0px;
	padding: 0px;
	left: auto;
	right: auto;
}
#right_bar{
	height: 50%;
	width: 14%;
	right: 4.25%;
	top: 15%;
	background-color: yellow;
}