html{
  background: url("images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
}

div {
  opacity: 0%;
}
#Name{
  position:absolute;
  opacity: 0%;
  top: 20%;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  font-size: 1.5em;
  font-weight: bold;
}
