html{
}
body {
  background-image: url("images/The Beach.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
p{
  color: white;
}
#name {
  color: white;
  font-family: "Monotype Corsiva", cursive;
  font-size: 2em;
}
.mainframe{
  float: left;
  width: 60%;
  display: inline-block;
}
#seperate{
  width:auto;
  height:0.5em;
  background-color: white;
}
.rightbar{
  display: inline-block;
  float: right;
  width: 20%;
}
